
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: SolaimanLipiNormal;
    font-size: 15px;
    line-height: 150%;
  }
  @font-face {
    font-family: SolaimanLipiNormal;
    src: url(fonts/solaimanlipi_20-04-07.eot);
    src: url(fonts/solaimanlipi_20-04-07.eot) format("embedded-opentype"),
      url(fonts/solaimanlipi_20-04-07.woff) format("woff"),
      url(fonts/solaimanlipi_20-04-07.ttf) format("truetype"),
      url(fonts/solaimanlipi_20-04-07.svg#SolaimanLipiNormal) format("svg");
  }


.header-ad-matter {
    width: 1430px;
    margin: 5px auto 0;
    text-align: center;
}

.header-main-logo {
    width: 1430px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-box {
    width: 33.33%;
}

.main-logo-box {
    width: 33.33%;
}

.social-icon-box {
    width: 33.33%;
}

.social-icon-box ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.social-icon-box ul li {
    padding: 8px;
    border: 1px solid #555555;
    border-radius: 50%;
    margin-right: 15px;
}

.header-main-menu {
    background: red;
}

.main-menu {
    width: 1430px;
    margin: auto;
}

.main-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.main-menu ul li a {
    color: white;
    padding: 34px;
    text-decoration: none;
    display: block;
    font-size:medium;
}

.social-icon-box ul li a {
    color: gray;
}

.social-icon-box ul li a :hover {
    color: red;
}

.footer-section {
    width: auto;
    margin: auto;
    /* display: flex; */
    justify-content: space-between;
    padding: 20px 0 20px 0;
    color: black;
    margin-top: 68px;
}

.footer-download {
    justify-content: space-between;
}



.footermain-logo-and-apps-icon-box {
    width: 1430px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
}

.footer-main-logo {
    width: 25%;
    float: left;
}

.footer-download {
    display: flex;
    justify-content: space-between;
}

.footer-main-logo-and-apps-icon {
    background: gray;
}

.footer-address h2 {
    font-size: 17px;
    margin-top: 20px;
}

.footer-address h3 {
    font-size: 14px;
}

.footer-address p {
    font-size: 14px;
}

.footer-address {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1430px;
    margin: auto;
}

.footer-main-section {
    margin-top: 20px;
    width: 1430px;
    margin: auto;}

.footer-address-box {
    background: #c4c1c0;
    margin-top: 20px;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    border-top: 1px solid gray;
}

.goggle-download img,
.goggle-play img {
    max-width: 100%;
    width: 250px;
    margin-right: 10px;
}

.main-news-box {
    width: 985px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid gray;
}

.section-news-box-1 {
    width: 745px;
}

.section-news-box-2 {
    width: 250px;
}

.sub-menu {
    width: 1430px;
    margin: auto;
}

.sub-menu ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
}

.sub-menu ul li a {
    color: gray;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.main-box {
    width: 1430px;
    margin: auto;
    display: flex;
}

.main-box-left {
    width: 67%;
}

.box-lft-matter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box-left-matter-lead {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.box-left-matter-second-lead {
    width: 28%;
}

.left-box-img img {
    max-width: 100%;
}

.box-left-matter-second-lead img {
    max-width: 100%;
}

.left-box-img {
    width: 50%;
}

.left-box-title {
    width: 45%;
}

.left-box-title h1 {
    font-size:35px;
    line-height: 155%;
}

.left-box-title >p {
    color: black;
    line-height: 150%;
    font-size: 15px;
}

.box-left-matter-second-lead h2 {
    font-size: 20px;
    line-height: 155%;
}

.section-2 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-2-item {
    width: 30%;
}

.section-2-item-title-image {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-2-item-title {
    width: 60%;
}

.section-2-item-image {
    width: 35%;
}

.section-2-item-image img {
    max-width: 100%;
}

.section-2-item-title h2 {
    font-size: 20px;
    text-decoration: none;
    line-height: 160%;
    color: black;
    font-weight: normal;
}

.section-2-item-title-text p {
    font-size: 16px;
    line-height: 160%;
}

.main-box-right {
    width: 30%;
    height: auto;
}

.main-box-matter {
    display: flex;
    justify-content: space-between;
}

.section-3 {
    width: 100%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding: 22px;
}

.section-3-matter-box {
    display: flex;
    justify-content: space-between;
}

.section-3-matter-box-item-1 {
    width: 30%;
}

.section-3-item-image img {
    max-width: 100%;
}


.img-fluid{
    max-width: 100%; 
}

.section-2-item-title h2 a {
    text-decoration: none;
    color: #555;
}

.ad-box-item a img {
    display: flex;
}

.ad-box-item {
    margin-bottom: 20px;
}

.ad-box-item:last-child {
    margin-bottom: 0;
}

.section-4 {
    width: 100%;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.section-4-matter-box {
    display: flex;
    justify-content: space-between;
}

.section-4-matter-box-item-1 {
    width: 30%;
}

.section-4-item-image img {
    max-width: 100%;
}

.section-4-item-title h2 a {
    text-decoration: none;
    color: #555;
}

.section-5 {
    width: 100%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}

.section-5-matter-box {
    display: flex;
    justify-content: space-between;
}

.section-5-matter-box-item-1 {
    width: 30%;
}

.comment-section-matter-box {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 20px;
}

.comment-box-image {
    width: 40%;
}

.comment-box-item-1 {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: auto;
}

.comment-box-image img {
    max-width: 100%;
    border-radius: 50%;
 }

 .coomet-box-title P {
    font-size: 18px;
}

.coomet-box-title {
    width: 55%;
}

.coomet-box-title {
    margin-left: 20px;
    width: 50%;
}


.title-box>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.title-box>ul>li {
    list-style: none;
}

.title-box {
    overflow-x: scroll;
    height: 100px;
}

.title-box:-webkit-scrollbar {
    width: 10px;
}

.titel-box::-webkit-scrollbar-track {
    background: gray;
    border-radius: 10px;
}

.comment-section a {
    text-decoration: none;
    color: #666666;
    font-size: 26px;
}

.matter-box-scroll {
    margin-bottom: 30px;
    width: 70%;
    height: auto;
}

.middle-box-ad {
    width: 1430px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.news-section-box {
    width: 1430px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-direction: column;
}

.news-section-box-matter {
    width: auto;
    display: flex;
    justify-content: space-around;
}

.news-section-box-matter-1 {
    width: 24%;
    justify-content: space-between;
}

.news-section-matter-box-image img {
    width: 100%;
}

.ad-box-item a img {
    width: 100%;
}

.ad-box {
    margin-bottom: 20px;
}

.news-section-box-title h3 {
    font-size: 31px;
    padding-bottom: 13px;
    margin-bottom: 50px;
    border-bottom: 3px solid sandybrown;
    color: sandybrown;
}

.section-3-item-title {margin-bottom: 13px;}

.section-4-item-title {
    margin-bottom: 13px;
}

.section-4-item-image {
    margin-bottom: 10px;
}

.video-section-box {
    width: 1430px;
    margin: auto;
    /* display: flex; */
}

.video-section-box-menu ul {
    display: flex;
    /* justify-content: space-between; */
}

.video-section-box-menu ul li a {
    padding: 10px 10px;
    /* list-style: none; */
    text-decoration: none;
    font-size: 28px;
    color: black;
}

.video-section-box-menu li {
    list-style: none;
}

.video-content-box {
    margin-top: 40px;
}

.video-img-item img {
    max-width: 100%;
}

.video-title-item {
    margin-top: 30px;
    font-size: 20px;
}

.video-content-box-right {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video-content-box {
    display: flex;
}

.video-content-box-item {
    width: 30%;
}

.video-content-box-item img {
    max-width: 100%;
}

.video-content-box-item {
    margin-bottom: 20px;
}

.video-section-box-title {
    display: flex;
}

.video-section-box-item h3 {
    font-size: 32px;
}

.second-middle-add {
    margin-top: 100px;
    margin-bottom: 100px;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
    width: 1430px;
}

.sports-box-title {
    display: flex;
    justify-content:normal;
    margin: auto;
    font-size: x-large;
    margin-bottom: 30px;
    width: 1430px;
}

.sports-box-title h2 {
    font-size: 50px;
}

.sports-box-content {
    width: 1430px;
    margin: auto;
}

.sports-sub-menu ul {
    display: flex;
    list-style: none;
}

.sports-sub-menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.sports-box-title h2 {
    margin-right: 27px;
}

.sports-content-box-left {
    width: 48%;
}

.sports-content-box-right {
    width: 48%;
}

.sports-box-content {}

.sports-content-box-left {
    width: 48%;
}

.sports-content-box-right {
    width: 48%;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.sports-box-content {
    display: flex;
}

.sports-box-content {}

.sports-content-box-left {
    width: 48%;
}

.sports-content-box-right {
    width: 48%;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.sports-box-content {
    display: flex;
}

.sports.content-box-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sports-content-box-item-1 {
    width: 48%;
    margin-bottom: 15px;
}

.sports-box-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.sports-content-left-title {
    font-size: 22px;
    margin: 15px 0;
}

.country-menu-box {
    display: flex;
    /* margin-top: 100px; */
    width: auto;
    justify-content: space-between;
    margin-bottom: 26px;
}

.country-menu-item ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 25px;
}

.country-menu-item ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: black;
}

.coutry-menu-box-text h3 {
    font-size: 32px;
}

.sports-item-box-image {
    margin-bottom: 14px;
}

.news-matter.box-item {
    width: 30%;
    /* padding: 20px; */
}

.news-lead-matter {
    width: 65%;
}

.news-matter-box-left {
    /* margin-top: 5%; */
    display: flex;
    justify-content: space-between;
}


.section-deshjure {
    /* background: gray; */
}

.section-deshjure-matter {
    /* background: yellow; */
    width: 1430px;
    margin: auto;
}
.news-matter-box {
    display: flex;
    justify-content: space-between;
}

.news-matter-box-right {
    width: 48%;
}

.news-matter-box-left {
    width: 48%;
}

.news-matter-box-item-1 {
    margin-bottom: 20px;
}

.news-matter-box-item-1:last-child {
    margin-bottom: 0;
}

.news-matter-box-item-1 {
    margin-bottom: 20px;
}

.news-matter-box-item-1:last-child {
    margin-bottom: 0;
}

.news-matter-box-item-image {
    margin-bottom: 10px;
}

.news-lead-image {
    margin-bottom: 10px;
}

.news-lead-text h3 {
    margin-bottom: 10px;
}

.country-menu-item ul li a:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #555;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 15px;
}

.country-menu-item ul li {
    position: relative;
    margin-right: 26px;
}

.country-menu-item ul li:last-child {
    margin-right: 0;
}

.matter-rigut-box-news {
    width: 30%;
    padding: 10px;
}

.matter-right-box-item-1 {
    margin-bottom: 15px;
    border-bottom: 1px solid;
}

.right-box-item-image {
    margin-bottom: 10px;
}

.news-matter-box-right {
    display: flex;
    justify-content: space-between;
}

.news-map-text h3 {
    font-size: 27px;
    margin-bottom: 10px;
}

.news-right-box-map {
    width: 58%;
}
